* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #333;
}

/* HEADER */
.header {
  position: sticky;
  top: 0;
  background: #ffb6c1;
  padding: 12px;
  text-align: center;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 30px;
}

.nav {
  margin-top: 8px;
}

.nav a {
  margin: 0 6px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.hero {
  height: 400px;
  display: flex;
  flex-direction: column; /* biar item ke bawah */
  justify-content: center; /* tengah vertikal */
  align-items: center;     /* tengah horizontal */
  text-align: center;
  background: #ffe4e1;
}

.hero h1 {
  font-size: 26px;
  margin-bottom: 8px;
}

.hero p {
  font-size: 16px;
  margin-bottom: 16px;
}

/* BUTTON */
.btn {
  background: #ff69b4;
  color: black;
  padding: 4px 4px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
}

/* BUTTON NAV*/
.btn-nav {
  background: white;
  color: pink;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
}

/* SECTION */
.section {
  padding: 32px 16px;
  height: 400px;
}

.section h1 {
  font-size: 26px;
  margin-bottom: 12px;
}

.section p {   
    margin: 14px 0px;
}

/* MENU */
.menu {
    background-color: #ffe4e1;
    padding: 32px 16px;
}

.menu h2 {
    margin-bottom: 14px;
}

.menu-list {
  display: grid;
  gap: 12px;
}

.menu-card {
  border: 1px solid black;
  padding: 16px;
  border-radius: 8px;
}

.menu-card h3 {
  font-size: 16px;
}

.menu-card span {
  display: block;
  margin-top: 8px;
  font-weight: bold;
}

/* css menu baru */
.menu-card.vertical {
  padding: 0;
  overflow: hidden;
  margin: 10px 0px;
}

.menu-card.vertical:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.menu-img-large {
  width: 100%;
  height: 160px;
  object-fit: contain;
  padding-top: 10px;
}

.menu-card.vertical .menu-info {
  padding: 12px;
  align-items: center;     /* tengah horizontal */
}

/* LOCATION */
.location-list li {
  margin-bottom: 8px;
  font-size: 14px;
}

/* ORDER */
.order {
  padding: 24px;
  text-align: center;
}

.order-btn {
  width: 100%;
  text-align: center;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 16px;
  font-size: 12px;
  background: #f5f5f5;
}
